@import "tailwindcss";

summary::-webkit-details-marker {
  display: none;
}
/* Tailwind v4: define custom tokens */
@theme {
  --color-primary: #fd366e;
  --color-background: #131315;
  --color-surface: #1d1d21;
}

/* optional globals */
:root {
  color-scheme: dark;
}

html,
body {
  height: 100%;
  background: var(--color-background);
  color: white;
}

